@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #e4e1db;
}

.flex-grow-1 {
  flex-grow: 1;
}

.navbar-brand img{
  width: 30%;
}

.nav-link {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  color: #ffffff !important;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #6A0DAD !important;
}

.navbar-nav {
  flex-direction: row; /* Mantiene los enlaces en una fila */
}

.navbar-nav .nav-item {
  padding: 0 15px;
}

.container, .product-card {
  padding-top: 20px;
}

h1, h3, h5 {
  font-weight: bold;
  margin-bottom: 20px;
}

.navbar-toggler {
  background-color: #6A0DAD!important;
}

.btnLog {
  background-color: #6A0DAD!important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
.btnLog:hover {
  color: #ffffff!important;
  opacity: 0.6
}
.btnLog:active{
  transform: translateY(4px);
}

/* LANDING PAGE */

.display-4 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #0a0a0a;
}

.lead {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

button, .btn {
  font-family: "Orbitron", sans-serif;
  background-color: #5a5a5a;
  border: none;
  border-radius: 30px;
  color: #0a0a0a;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

button:hover, .btn:hover {
  background-color: #6A0DAD;
  transform: scale(1.05);
}

.container .about{  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "img img2"
    "carousel carousel";
}

.img { grid-area: img; }

.img2 { grid-area: img2; }

.carousel { grid-area: carousel; }


/* CARDS */

.product-card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: #1f1f1f 1px 1px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #696969;
}

.product-card:hover {
  transform: translateY(-10px);
}

.card-title {
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  color: #696969;
}

.card-text {
  font-size: 1rem;
  color: #696969;
}

.form-control {
  background-color: #1f1f1f;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  padding: 10px 15px;
}

.form-control:focus {
  border-color: #0df5e3;
  box-shadow: none;
}

.form-label {
  color: #b3b3b3;
}

.form-group {
  margin-bottom: 20px;
}


/* SHOP PAGE */

.info-section {
  background-color: #f9f9f9;
  padding: 30px 0;
  border-radius: 10px;
}

.card-title {
  font-weight: 600;
  margin-bottom: 15px;
}

.card-text {
  color: #6c757d;
}

.img-fluid {
  max-height: 80px;
  object-fit: contain;
  margin-top: 15px;
}

/* CARRITO */

.text-end.mt-4 {
  margin-bottom: 50px;
}

/* PROFILE */

.user-profile-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: start;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.profile-image {
  text-align: center;
}

.profile-image img {
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}

.purchase-history ul {
  list-style-type: none;
  padding: 0;
}

.purchase-history li {
  background-color: #f8f9fa;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.mt-5.container {
  padding-bottom: 50px;
}

/* LOGIN PAGE */

.col-md-6 {
  margin-bottom: 50px;
}

.btn.btn-link {
  padding: 0px;
  margin: 5px 0px;
}


/* BACK TO TOP */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #6A0DAD;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  opacity: 0.6;
}